flask
flask-cors
flask-sqlalchemy
flask-migrate
psycopg2-binary
numpy
tifffile
scikit-image
scikit-learn
celery
redis
eventlet
werkzeug
marshmallow
marshmallow-sqlalchemy
gunicorn
python-dotenv
requests
pillow
